.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
label {
  color: rgba(0, 0, 0, 0.75);
  margin-top: 10px;
  margin-bottom: 3px;
}

div.unit {
  border: 1px solid rgba(160, 160, 160, 0.267);
  border-radius: 5px;
  background-color: white;
  span {
    padding: 0 5px;
    color: rgba(0, 0, 0, 0.85);
  }
}
input,
select {
  border: none;
  background-color: whitesmoke;
  height: 30px;
  &.border {
    border-right: 1px solid rgba(160, 160, 160, 0.267);
  }
  &[type="number"] {
    width: 70px;
  }
  &#quantity {
    width: 50px;
  }
}

button.addIngredient {
  color: white;
  border-radius: 6px;
  padding: 0;
  background-color: #4c804c;
  margin-left: 5px;
  &:disabled {
    opacity: 0.4;
  }
}

.datalist {
  position: absolute;
  border-radius: 10px;
  top: 35px;
  padding: 5px;
  background-color: white;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
  p {
    &:hover {
      background-color: rgba(80, 80, 80, 0.1);
    }
    padding: 3px 20px;
    border-radius: 4px;
  }
}

button {
  border: none;
  span {
    vertical-align: middle;
  }
}
